*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;


}

.logo{
	height: 70.28px;
	/*width: 76.21px;*/
}


.up-ul{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70%;

}
.down-ul{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

}



.last-nav{
	margin: 0 auto;
	display: flex;
	width: 30%;
	justify-content: space-between;
}

.size-sm{
	font-size: 14px;
}

.footer{

	height: 60px;
	background-color: #002B52;
	font-size: 14px;
	color: white;
	font-family: 'Mulish', sans-serif;
}



.footer-nav-link{
	color: white;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}

.logo-color{
	color:  rgb(136, 163, 9);

}

.bord{
	margin: 0 auto;
	border-radius: 50%;
	display: inline-block;
}

.header_main{
  font-family: 'Mulish', sans-serif;
	position: relative;
}
.btn-green-color{
	background-color:  rgb(136, 163, 9);
	padding: 6px;
	text-align: center;
	cursor: pointer;

	

}
.btn-trans-color{
  padding: 6px;
	text-align: center;
	cursor: pointer;
	background-color:transparent;
	border: 1px solid white ;
	border-radius: 5px;
}

.content-drag{
	position: absolute;
	left: 40%;
	top: 50%;
	z-index: 4;
	transform: translate( -35%,-50%);
	color: white;
}

.border-none{
	border: none;
	border-radius: 5px;
}
.btn-space{
	 margin-right: 20px;
}

.text-small{
		font-size: 12px;
	}
	.text-bold{
		font-weight: bold;
	}
	.width-80{
		width: 80%;
	}
	.width-70{
		width: 70%;
	}
	.width-50{
		width: 50%;
	}
	.width-90{
		width: 90%;
	}
	.width-100{
		width: 100%;
	}

	.text-justify{
	text-align: justify;
  text-justify: inter-word;
	}

.width-60{
	width: 60%;
}
.hight-client{
	height: 100px;
}

.text-justify{
	text-align: justify;
	text-justify: inter-word;
}

.bg-light-rad{
	background-color: rgb(255, 242, 240);
}

/* Font  */
.font-dm-sans{ font-family: 'DM Sans', sans-serif;}
.font-mulish{ font-family: 'Mulish', sans-serif;}
.font-archivo{ font-family: 'Archivo', sans-serif;}


/* start text size  */
.text-8{ font-size: 9px;}
.text-10{ font-size: 10px;}
.text-12{ font-size: 12px;}
.text-14{ font-size: 14px;}
.text-16{ font-size: 16px;}
.text-18{ font-size: 18px;}
.text-20{ font-size: 20px;}
.text-22{ font-size: 22px;}
.text-24{ font-size: 24px;}
.text-28{ font-size: 28px;}
.text-30{ font-size: 30px;}
.text-32{ font-size: 32px;}
.text-34{ font-size: 34px;}
.text-36{ font-size: 36px;}
.text-40{ font-size: 40px;}
.text-42{ font-size: 42px;}
/* end text size  */

/* @media (min-width: 767.98px) { 
	
} */
.text-fx-14{ font-size: 14px; }
.text-fx-15{ font-size: 15px; }
.text-fx-16{ font-size: 16px; }
.text-fx-18{ font-size: 18px; }
.text-fx-20{ font-size: 20px; }
.text-fx-22{ font-size: 22px; }


.text-12-16{ font-size: 13px; }
.text-16-18{ font-size: 16px; }
.text-16-20{ font-size: 16px; }
.text-12-20{ font-size: 14px; }
.text-16-22{ font-size: 16px; }
.text-20-24{ font-size: 20px; }
.text-20-30{ font-size: 22px; }
.text-24-36{ font-size: 24px; }
.text-40-44{ font-size: 40px; }
.text-28-48{ font-size: 24px; }
.text-30-60{ font-size: 26px; }



@media (min-width: 768px) {
    .text-12-16{ font-size: 14px; }
    .text-12-20{ font-size: 16px; }
    .text-16-20{ font-size: 18px; }
    .text-16-18{ font-size: 17px; }
    .text-16-22{ font-size: 18px; }
    .text-20-24{ font-size: 22px; }
    .text-20-30{ font-size: 24px; }
    .text-24-36{ font-size: 28px; }
    .text-40-44{ font-size: 42px; }
    .text-28-48{ font-size: 32px; }
    .text-30-60{ font-size: 32px; }

    small{
        font-size: 13px;
    }
}


@media (min-width: 992px) {

	.text-12-16{ font-size: 16px; }
	.text-16-20{ font-size: 20px; }
	.text-12-20{ font-size: 20px; }
	.text-16-18{ font-size: 16px; }
	.text-16-22{ font-size: 20px; }
	.text-20-24{ font-size: 24px; }
	.text-20-30{ font-size: 30px; }
	.text-24-36{ font-size: 36px; }
	.text-40-44{ font-size: 44px; }
	.text-28-48{ font-size: 40px; }
	.text-30-60{ font-size: 60px; }
	/* start text size  */
	.text-8{ font-size: 12px;}
	.text-10{ font-size: 14px;}
	.text-12{ font-size: 16px;}
	.text-14{ font-size: 18px;}
	.text-16{ font-size: 20px;}
	.text-18{ font-size: 22px;}
	.text-20{ font-size: 24px;}
	.text-22{ font-size: 26px;}
	.text-24{ font-size: 28px;}
	.text-28{ font-size: 32px;}
	.text-32{ font-size: 38px;}
	.text-36{ font-size: 40px;}
	.text-40{ font-size: 48px;}
	.text-42{ font-size: 50px;}
	/* end text size  */
}

@media (min-width: 1200px) {
	/* start text size  */
	.text-8{ font-size: 14px;}
	.text-10{ font-size: 16px;}
	.text-12{ font-size: 18px;}
	.text-14{ font-size: 20px;}
	.text-16{ font-size: 22px;}
	.text-18{ font-size: 24px;}
	.text-20{ font-size: 26px;}
	.text-22{ font-size: 28px;}
	.text-24{ font-size: 30px;}
	.text-28{ font-size: 36px;}
	.text-32{ font-size: 40px;}
	.text-36{ font-size: 48px;}
	.text-40{ font-size: 60px;}
	.text-42{ font-size: 60px;}
	/* end text size  */
}